main{
    background-color: #F8F8F8;
    padding: 40px 146px;
}

.home h1{
    font-size: 40px;
}


// STYLING INDEX TABLE
.home 
table
tr{
   height: 80px;
   
   & td{
       height: 80px;
   }
}

.home 
table
.logo-and-name img{
    width: 40px;
}

.home 
table
tr{
    border-bottom: 1px solid #F8F8F8;
}

.home 
table
td{
    vertical-align: center;
}


.home 
table
td.seven-days-chart {
    width: 120px;
}


.home 
table
td.seven-days-chart
.apexcharts-xaxis-tick {
    display: none;
}