@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    *{
        font-size: 100%;
        line-height: 100%;
    }

    @media screen and (min-width: 1920px){
        font-size: 112.5%; // 12.5% greater than 16px (=18px)
    }
}

@import 'helpers/variables';

@import 'includes/header';
@import 'includes/footer';
@import 'includes/slider';

@import 'pages/index';
@import 'pages/single';
@import 'pages/createNewCoinPriceAlert';
@import 'pages/coinPriceAlertDetails';