/* ----------------------------------------------------------------
	Breakpoints - vars
-----------------------------------------------------------------*/
$screen-sm-min: 640px; 
$screen-lg-min: 1024px; 

/* ----------------------------------------------------------------
	Breakpoints - mixins
-----------------------------------------------------------------*/
@mixin screen-sm {
    @media screen and (min-width: #{$screen-sm-min}) {
        @content;
    }
}
@mixin screen-lg {
    @media screen and (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// @include screen-sm {
    //     foo : bar;
    // }
    
    /* ----------------------------------------------------------------
        Fonts
    -----------------------------------------------------------------*/
    
    
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
    $rubik: 'Rubik', sans-serif;
    *{
        font-family: $rubik;
    }
    
    
    
    /* ----------------------------------------------------------------
        Colors
    -----------------------------------------------------------------*/
    
    $darkGray : #999999;
    $lightGray : #F5F5F5;
    $lightBlue : #E5F5FE;
    $darkBlue : #009EFC;
    $red : #E50915;
    $green : #33CC00;
    $black : #333;
    
    /* ----------------------------------------------------------------
        BORDERS
    -----------------------------------------------------------------*/

    .default-border{
        border: 1px solid $lightGray;
    }