.coin-price-alert-detail-wrap
.coin-price-alert-detail
.header{
    
    & img{
        width: 48px;
    }
}

.coin-price-alert-detail-wrap
.coin-price-alert-detail
.close{
    background-color: #009EFC;
    color : white;
}