.full-size-dark-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, .5);
    z-index: 11;
    top: 0;
    left: 0;
}

.create-coin-price-alert-wrap
.create-coin-price-alert{
    width: 41.67%;
    max-width: 600px;
    height: 553px;
    padding: 33px;
}

.create-coin-price-alert-wrap
.create-coin-price-alert
.select-wrap{

}
.create-coin-price-alert-wrap
.create-coin-price-alert
.select-wrap
.options{
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 4;
}

.create-coin-price-alert-wrap
.create-coin-price-alert
.option{
    padding: 11px 16px;
    & img{
        width: 24px;
        height: 24px;
    }
}

.create-coin-price-alert-wrap
.create-coin-price-alert
.show-dropdown svg{
    &.active{
        transform: rotate(180deg);
    }
}

.create-coin-price-alert-wrap
.create-coin-price-alert{
    & .notify-value-wrap{
        max-width: 321px;
    }
    & .percentage-range-wrap{
        max-width: 190px;
    }
}



.number-input-wrap{
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    /* Firefox */
    & input[type=number] {
        -moz-appearance: textfield;
    }
}

.create-coin-price-alert-wrap
.create-coin-price-alert{
    & .currency, & .percentage{
        width: 44px;
    }
}